header {
  background-color: rgb(41, 40, 43);
  width: 100vw;
  height: 10vh;
}

.header-image {
  width: 100%;
  height: 50%;
}

.header-image img {
  width: 30%;
  height: 80%;
  display: block;
  margin: auto;
}

.header-navs {
  display: grid;
  grid-template-columns: auto auto auto;
  height: 50%;
  margin: 0;
}

.header-navs a {
  display: flex;
  text-decoration: none;
  background-color: rgb(176, 124, 211);
  text-align: center;
  justify-content: center;
  align-items: center;
}

.header-navs a:active {
  text-decoration: underline;
  color: rgb(145, 180, 0);
}

.header-navs a.activeRoute {
  color: rgb(90, 45, 52);
  background-color: rgb(77, 74, 80);
}
