header {
  width: 100%;
  height: 10%;
}

.header-navs {
  display: grid;
  grid-template-columns: auto auto auto;
  height: 100%;
  margin: 0;
}

.header-navs a {
  text-decoration: none;
  background-color: rgb(46, 176, 228);
  color: rgb(11, 14, 184);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  font-size: 1.1rem;
  border: 1px solid rgb(229, 225, 236);
}

.header-navs a.activeRoute {
  border-top: 6px solid rgb(5, 37, 143);
  border-bottom: 6px solid rgb(5, 37, 143);
}

.header-navs a:hover {
  border-top: 8px solid rgb(5, 37, 143);
}
