body {
  position: relative;
  top: 10vh;
  left: 12vw;
  width: 70vw;
  height: 70vh;
}

#root,
#root > div {
  height: 100%;
  width: 100%;
}

a,
a:hover {
  text-decoration: none;
}

.table {
  position: relative;
  top: 5%;
}

.star-ratings .star-container {
  margin: 0%;
  padding: 0% !important;
  width: 20%;
  height: 70%;
}
.star-ratings .star-container svg {
  width: 100% !important;
  height: 100% !important;
}
